@model Manufaktura.Controls.Test.Web.Models.HomeViewModel
@using Manufaktura.Controls.AspNetMvc
@using Manufaktura.Controls.Model


@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/midijs/Base64.js" type="text/javascript"></script>
<script src="~/Scripts/midijs/Base64binary.js" type="text/javascript"></script>
<script src="~/Scripts/midijs/WebAudioAPI.js" type="text/javascript"></script>
<script src="/Scripts/midijs/audioDetect.js" type="text/javascript"></script>
<script src="/Scripts/midijs/gm.js" type="text/javascript"></script>
<script src="/Scripts/midijs/loader.js" type="text/javascript"></script>
<script src="/Scripts/midijs/plugin.audiotag.js" type="text/javascript"></script>
<script src="/Scripts/midijs/plugin.webaudio.js" type="text/javascript"></script>
<script src="/Scripts/midijs/plugin.webmidi.js" type="text/javascript"></script>
<!-- utils -->
<script src="/Scripts/midijs/dom_request_xhr.js" type="text/javascript"></script>
<script src="/Scripts/midijs/dom_request_script.js" type="text/javascript"></script>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @Html.NoteViewer(Model.SampleScore, Model.Settings)
</div>
<div class="row">
    <a id="btnPlay" class="btn btn-primary">Odtwórz</a>
</div>

<script type="text/javascript">
    window.onload = function () {
        MIDI.loadPlugin({
            soundfontUrl: "./soundfont/",
            instrument: "acoustic_grand_piano",
            onprogress: function (state, progress) {
                console.log(state, progress);
            },
            onsuccess: function () {
                MIDI.setVolume(0, 127);
            }
        });
    };
</script>
<script type="text/javascript">
    $("#btnPlay").click(function (evh) {
        $("svg").children().each(function (i, e) {
            var delayTime = $(e).attr("data-playback-start");
            if (delayTime == null) return;
            delayTime = parseInt(delayTime);

            var note = parseInt($(e).attr("data-midi-pitch"));
            var duration = parseInt($(e).attr("data-playback-duration"));

            setTimeout(function () {
                console.info("Note " + note + " on");
                MIDI.noteOn(0, note, 127, 0);
                if (e.tagName == "line" || e.tagName == "path") e.style.stroke = "#c34853";
                else e.style.fill = "#c34853";
            }, delayTime);

            setTimeout(function () {
                console.info("Note " + note + " off");
                MIDI.noteOff(0, note, 0);
                if (e.tagName == "line" || e.tagName == "path") e.style.stroke = "#000";
                else e.style.fill = "#000";
            }, delayTime + duration);
        });
    });
</script>
